section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: auto;
}

.example-button-row .mat-button-base {
  margin: 0px; /* 8px 8px 8px;*/
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: auto;
}

.addButton {
  position: fixed;
  text-align: right;
  bottom: 60px;
  width: 90%;
  margin: 25px 20px;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f3;
}
h1 {
  margin: 0;
  padding: 0;
}
.custom-form {
  min-width: 300px;
  max-width: 60%;
  background: rgba(255, 255, 255, 0.15);
  padding: 32px 48px;
  margin: auto;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
}
.custom-form input {
  display: block;
  margin: 32px 0;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}
.custom-form button {
  /*text-transform: uppercase;*/
  border: none;
  /**font-size: 0.875rem;*/
  color: #ffffff;
  /*font-weight: bold;*/
  background-color: #4bb543;
  width: 100%;
  display: block;
  padding: 14px 16px;
  border-radius: 24px;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.custom-form label {
  display: block;
  margin-top: 12px;
  width: 100%;
  border-radius: 10px;
  padding-top: 10px;
  border: none;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  /*background: #ebf5fc;*/
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.login {
  margin: 5% 0 2% 0%;
}
