<app-header></app-header>
<div class="card border-primary mb-3" style="">
    <div class="card-header">Emprendimientos o productos </div>
    <div class="card-body text-primary">
      <h3 class="card-title">Listado</h3>
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
                <th>id</th>
                <th>Nombre Completo</th>
                <th>Tipo de documento</th>
                <th>Número de documento</th>
                <th>Género</th>
                <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users">
                <td>{{item.id}}</td>
                <td>{{item.name}} {{item.lastName}}</td>
                <td>{{item.tipoDocumento.descripcion}}</td>
                <td>{{item.documento}}</td>
                <td>{{item.genero.descripcion}}</td>
                <td>
                    <section>
                        <div class="example-button-row">
                          <div class="example-flex-container">
                            <button mat-mini-fab color="primary" aria-label="update" (click)="update(contentUpdate, item)">
                              <mat-icon>update</mat-icon>
                            </button>
                            <button mat-mini-fab color="link" aria-label="delete" (click)=delete(item.id)>
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </div>
                      </section>
                </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>

<div class="addButton" color="primary">
    <button  type="button" class="btn btn-success" (click)=addPost(contentNew) >Agregar</button>
</div>

<ng-template #contentNew let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Nuevo producto o emprendimiento</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="custom-form" method="post" novalidate (ngSubmit)="register()" #f="ngForm">
            <h4>Registar</h4>
            <input
              type="titulo"
              [(ngModel)]="publishing.titulo"
              name="titulo"
              placeholder="Titulo"
              required
              class="form-control"
            />
            <input
              type="descripcion"
              [(ngModel)]="publishing.descripcion"
              name="descripcion"
              placeholder="Descripcion"
              required
              class="form-control"
            />
            <select 
                [(ngModel)]="compartir"
                name="compartir"
                required
                class="form-control"
                >
                <option value="-1" selected>Compartir</option>
                <option value="1">Verdadero</option>
                <option value="0">Falso</option>
            </select>
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" color="primary" (click)="register(modal.close('Save click'))">Guardar</button>
    </div>
  </ng-template>

  <ng-template #contentUpdate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Actualiza producto o emprendimiento</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="custom-form" method="post" novalidate (ngSubmit)="register()" #f="ngForm">
            <h4>Actualizar</h4>
            <input
              type="titulo"
              [(ngModel)]="publishing.titulo"
              name="titulo"
              placeholder="Titulo"
              required
              class="form-control"
            />
            <input
              type="descripcion"
              [(ngModel)]="publishing.descripcion"
              name="descripcion"
              placeholder="Descripcion"
              required
              class="form-control"
            />
            <select 
            [(ngModel)]="compartir"
            name="compartir"
            required
            class="form-control"
            >
            <option value="-1" selected>Compartir</option>
            <option value="1">Verdadero</option>
            <option value="0">Falso</option>
        </select>
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" color="primary" (click)="register(modal.close('Save click'))">Guardar</button>
    </div>
  </ng-template>