<app-header></app-header>
<div class="register">
    <form class="custom-form" method="post" novalidate (ngSubmit)="register()" #f="ngForm">
      <h2>Registrarse</h2>
      <input
        type="name"
        [(ngModel)]="name"
        name="name"
        placeholder="Primer nombre"
        required
        class="form-control"
      />
      <input
        type="secondName"
        [(ngModel)]="secondName"
        name="secondName"
        placeholder="Segundo nombre"
        class="form-control"
      />
      <input
        type="lastName"
        [(ngModel)]="lastName"
        name="lastName"
        placeholder="Primer apellido"
        required
        class="form-control"
      />
      <input
        type="secondLastName"
        [(ngModel)]="secondLastName"
        name="secondLastName"
        placeholder="Segundo apellido"
        class="form-control"
      />
      <input
        type="numero"
        [(ngModel)]="numero"
        name="numero"
        placeholder="Número de documento"
        required
        class="form-control"
      />
      <select 
        [(ngModel)]="tipoDocumento"
        name="tipoDocumento"
        required >
        <option [value]=-1>Seleccione el tipo de documento</option>
        <option *ngFor="let obj of tiposDocumentos" 
                [value]=obj.id>{{obj.descripcion}}
        </option>
      </select>
      <select 
        [(ngModel)]="genero"
        name="genero"
        required>
        <option [value]=-1>Seleccione el género</option>
        <option *ngFor="let obj of generos" 
                [value]=obj.id>{{obj.descripcion}}
        </option>
      </select>
      <input
        type="username"
        [(ngModel)]="username"
        name="username"
        placeholder="Nombre de usuario"
        required
        class="form-control"
    />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
        class="form-control"
      />
     
      <button type="submit" color="primary" [disabled]="f.invalid">Registrar</button>
    </form>
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf=loading$|async></mat-progress-spinner>
  </div>